*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
}
.topbar{
    background-color: gray;
    height: 50px;
    width: 100%;
    color: white;
    padding: 10px 100px;
}
.button{
    padding-bottom: 10px;
    text-transform: uppercase;
    color: white;
}
.topmenu ul{
    list-style: none;
	display: flex;
	justify-content: flex-end;
}
.topmenu ul li a {
	color:white;
	text-decoration: none;
	font-weight: 300;
	padding: 5px 10px;
	display: inline-block;
}
.nav{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 1.5% 10%;
    
}
.logo{
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.logo:hover{
    color: rgb(145, 3, 3); 
}
.navbar a{
    font-size: 15px;
    color: black;
    margin: 0 5px;
    text-decoration: none;
}
.navbar a:hover{
    color: rgb(145, 3, 3);
    
}
.icons a{
    color: black;
    font-size: 22px;
    margin-left: 8px;
    text-decoration: none;
}
.icons a:hover{
    color: rgb(145, 3, 3); 
}
input{
    background-color: #80808085;
    color: black;
    padding: 5px 10px;
    width: 200px;  
}
.ic{
    background-color: black;
    color: white;
    padding: 9px 10px;
    cursor: pointer;
}
.ic:hover{
    background-color: rgba(0, 0, 0, 0.493);
    color: black;
}
section{
    padding: 2rem 8%;
}
.home{
    padding: 0;
    position: relative;
}
.slide-container .slide{
    min-height: 100vh; 
    padding: 0 9%;
    padding-top: 8rem;
    display: block;

}
.content{
    float: left;
    padding-top: 50px;
    animation: slide .2s linear .5s backwards;
}
@keyframes slide{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
}
.img{
    position: relative;
    z-index: 0;
    padding-bottom: 10rem;
    float: right;

}
.watch{
    width: 100%;  

}
.content span{
    font-size: 15px;
    color: rgb(145, 3, 3); ;
}
.content h3{
    font-size: 28px;
    color: black;
}
.content p{
    font-size: 15px;
    color: black;
    padding: 5px 0;
}
.buy-btn{
    display: inline-block;
    border-radius: 7px;
    border: 3px solid black;
    font-weight: bold;
    font-size: 13px;
    color: black;
    margin-top: 3px;
    background-color: white;
    cursor: pointer;
    padding: 4px 6px;
    text-decoration: none;
}
.buy-btn:hover{
    background-color: rgb(117, 7, 7);
    color: white;
}
.slide-container:nth-child(1) .slide{
    background: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
}

.slide-container:nth-child(2) .slide{
    background: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
}

.slide-container:nth-child(3) .slide{
    background: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
}

.slide-container{
    display: none;
}
.active{
    display: block;
}

.home #previous,
.home #next{
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    z-index: 100;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    line-height: 3rem;
    color: black;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
}

.home #previous,
.home #next{
    color: black;
    background: rgb(170, 226, 170);
}

#next{
    right: 2rem;
}
#previous{
    left: 3rem;
}



.service .box-container{
    display: flex;
    justify-content: space-between;
    background:#f9f9f9;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:1rem;
  }
  
  .box{
    text-align: center;
    margin: 8px;
  
  }
  
  .box i{
    font-size: 2rem;
    color:var(--orange);
  }
  
  .box h3{
    font-size: 22px;
    color:var(--black);
    padding-top: 1rem;
  }
  
  .service .box-container .box p{
    font-size: 15px;
    color:#666;
    padding:5px 12px;
  }
  

.footer-area {
	padding: 80px 0px;
	background: #3b3b3b;
}
.footer h4 {
	color: #666666;
	margin-bottom: 23px;
	font-size: 16px;
	font-weight: 300;
}
.footer p {
	color: #999999;
	font-size: 14px;
	font-weight: 300;
	line-height: 27px;
}
.footer ul li {
	color: #999999;
	font-size: 14px;
	list-style:none;
	line-height: 26px;
}
.list-group-item {
	border-radius: 0 !important;
	padding: 6px 0px;
	border-bottom: 1px solid #484848;
	background: #3b3b3b;
}
.list-group-item a{
	text-decoration: none;
	color: #999999;
}
.list-group-item:last-child {
	border-bottom-width: 1px !important;
}
.footer > a {
	color: #81b300;
	text-transform: capitalize;
	font-size: 14px;
	float: right;
	text-decoration: none;
}
.form-control {
	color: #999999;
	background-color: #1f1f1f;
	border: 1px solid #1f1f1f;
}
.btn-primary {
	background-color: #1f1f1f;
	border-color: #1f1f1f;
	color: #81b300;
	text-transform: uppercase;
	font-size: 14px;
}
.btn-primary:hover {
	color: #fff;
	background-color: #1f1f1f;
	border-color: #81b300;
}
.form-control:focus,.btn-primary.focus, .btn-primary:focus {
	background-color: #1f1f1f;
	border-color: #67b300;
	box-shadow: none;
}
.footer_btm {
	background: #2e2e2e;
	color: #737373;
	padding: 25px 0px;
}

.heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1rem;
    color: black;
    margin-top: 15px;
}
.heading span{
    text-transform: uppercase;
    color: orangered;
}

h4{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
a{
    text-decoration: none;

}
.products{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
}
.contents{
    width: 22%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 15px;
    padding-top: 10px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22) ;
}
.cardimg{
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.cardp{
    text-align: center;
    color: gray;
    padding-top: 0 15px;

}
h6{
    font-size: 26px;
    text-align: center;
    color:black;
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 5px;

}
.fa{
    font-size: 24px;
    margin: 0px 4px;
}
.checked{
    color: yellow;
}
button{
    text-align: center;
    font-size: 20px;
    width: 100%;
    color: white;
    background-color: rgb(86, 86, 167);
    padding: 8px;
    border: none;
    outline: none;
    border-bottom: 15px;
    cursor: pointer;
}